.MainPage {
	width: 100%;
	height: 100%;
}

.container {
	width: 1140px;
	height: 100%;
	margin: 0 auto;
	display: flex;
}

.right_block_chat {
	width: 70%;
}

.left_block_chat {
	width: 30%;
	margin-right: 20px;
}