.container_profile {
	width: 1140px;
	margin: 0 auto;
	background-color: blueviolet;
	height: 500px;
}

.ProfilePage {
	text-align: center;
	line-height: 30px;
	font-size: 25px;
	padding: 50px 0;
}

.form {
	display: flex;
	align-items: center;
}

.checkbox {
	height: 20px;
	width: 20px;
	cursor: pointer;
	margin-left: 40px;
}

.button_checkbox {
	cursor: pointer;
	background-color: chartreuse;
	padding: 10px;
	margin-left: 30px;
}


.name_p {}